@font-face {
    font-family: 'CustomFont';
    src: url(./Jura-VariableFont_wght.ttf);
}
body{
    background-color: #1a1a1a!important;
    font-family: 'CustomFont'!important;
    padding-left: 38px;
    padding-right: 38px;
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.overall{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: #2f2e2e;
    height: 90px;
    width: 100%;
    border-radius: 40px;
    align-items: center;
    padding-left: 15px!important;
    padding-right: 15px;

}
.profly{
    border-radius: 100%;
    height: 70px;
    width: 70px;
}
.navimg{
    height: 70px;
    width: 70px;
}
.colortext{
    color: #fefffe;
}
.middle{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    position: relative;
    /* justify-items: center; */
    
}
.middleswitch{
 padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    /* justify-items: center; */
}

.imgr{
    height: 100%;
    width: 100%;
    border-radius: 35px;
}
.imgrforlong{
    height: auto;
    width: 90%;
    border-radius: 35px;
}
.leftmid{
    background-color: #2f2e2e;
    border-radius: 35px;
}
.lastcon{
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 20px;
    gap: 20px;
    width: 80%;
}
.box{
    background-color: #2f2e2e;
    border-radius: 35px;
    width: 100%;
}
.thridtop{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gridcolumn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: auto;
    gap: 20px;
}
.padt{
    padding-top: 20px;
}
.botom{
    padding-bottom: 20px;
}
.section{
    height: 78px;
    width: 200%;
     border-bottom: 6px double #fff;
     border-top:  6px double #fff;
   
}
.hightpdtop{
    padding-top: 40px;
}
.hightpdbot{
    padding-bottom: 40px;
}
.star{
    height: 100%;
}
.threegrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.flytext{
    position: absolute;
    top: 90%;
    left: 10%;
     border-bottom: 3px ridge #fff;
     z-index: 1;
}
.textfade{
    color: #ffffffda;
}
.textloibot{
    position: absolute;
    top: 90%;
    left: 80%;
     border-bottom: 3px ridge #fff;
}
.pole{
    position: relative;
    border-radius: 25px;
}
.flytexttop{
    /* position: static; */
    position: absolute;
    top: 10%;
    left: 10%;
     border-bottom: 3px ridge #fff;
}
.textloitop{
    position: absolute;
    top: 10%;
    left: 80%;
     border-bottom: 3px ridge #fff;
}
a:hover {
  background-color: #2f2e2e;
  font-size: 18px;
}
.oneslashtwo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}